{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Application Guidance </title>
{% endblock %}
{% block style %}
    {% include 'application_guidance/Application_guidance_css.html' %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

{% endblock %}
{% block nav %}
    {% include 'snippets/navbar.html' %}
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h2 style="text-align: center;color: #6088c0">Application Guidance</h2>
        </div>
        <div class="d-flex justify-content-center">
            <span style="text-align: center;width: 40%;">
               Our team of expert counselors will make sure you get into the best Universities you deserve.
            </span>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div style="background-color: #f7f7f7;">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-5 order-1 order-lg-1 my-5">
                        <img src="{% static 'application_guidance/guidance1.svg' %}" class="img-fluid"
                             alt="Responsive image" style="height: auto;width: 500px">
                    </div>
                    <div class="col-lg-7 order-2 order-lg-2">
                        <div class="container mt-md-5 pt-md-5 pb-3">
                            <h3>
                                <b style="color: #6088c0">University Lists </b></h3>
                            <span>
                        Get a tailor made University list based on the region you want to study in, field of interest, your qualifications, skills, scores, budget, and career goals.
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="container mt-md-5 pt-md-5 pd-3">
                    <h3>
                        <b style="color: #6088c0">University Applications </b></h3>
                    <span>
                        Although sending your application to a University is quite simple, it’s always good to have an expert to review your application.  Our counselors will clarify any doubts you face in the process.
                    </span>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 ">
                <img src="{% static 'application_guidance/guidance2.svg' %}" class="img-fluid"
                     alt="Responsive image" style="height: auto;width: 500px">
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div style="background-color: #f7f7f7;">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-5 order-1 order-lg-1 my-5">
                        <img src="{% static 'application_guidance/guidance3.svg' %}" class="img-fluid"
                             alt="Responsive image" style="height: auto;width: 500px">
                    </div>
                    <div class="col-lg-7 order-2 order-lg-2">
                        <div class="container mt-md-5 pt-md-5 pb-3 ">
                            <h3>
                                <b style="color: #6088c0">
                                    SOP & LOR review
                                </b></h3>
                            <span>

We will make sure you draft strong essays and letters that represent your profile, goals, and interests in the best way possible to the Admission committee
                    </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="container mt-md-5 pt-md-5 pb-3">
                    <h3>
                        <b style="color: #6088c0">Post Admit services.
                        </b></h3>
                    <span>
                        We will guide you in finding good education loans, Visa related paper-work, and also conduct mock Visa interviews (in case of USA)
                </span>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <img src="{% static 'application_guidance/guidance4.svg' %}" class="img-fluid"
                     alt="Responsive image" style="height: auto;width: 500px">
            </div>

        </div>
    </div>
    <div class="container" style="margin-top: 70px;padding-bottom: 30px">
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'application_guidance/guidance5.svg' %}" class="img-fluid"
                     alt="Responsive image" style="padding-left: 60px">
            </div>
            <div class="col-lg-6" style="padding-top: 45px;padding-bottom: 40px">
                <p>Call us today to know more about our services, or leave us a message at :</p>
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="tel:+91 812532244" class="btn btn-md " tabindex="-1" role="button"
                           aria-disabled="true"
                           style="background: #6088c0!important;color: #F2F2F2!important;"><i
                                class="fas fa-phone-alt"></i> Call
                        </a>


                    </div>
                    <p><span class="d-flex justify-content-center">(10AM - 6PM)</span></p>

                    <div class="d-flex justify-content-center" style="padding-top: 20px">
                        <i class="fab fa-whatsapp" style="color: #0e76a8"></i><a href="https://wa.me/918125322444">+91
                        812532244</a>


                    </div>
                    <p><span class="d-flex justify-content-center">24*7</span></p>

                </div>


            </div>
        </div>
    </div>

    <div class="testimonials-clean pb-sm-5 pb-md-5">
        <div class="container" style="padding-bottom: 60px">
            <div class="intro">
                <h2 class="text-center" style="color: #6088c0">Testimonials </h2>
            </div>

            <div class="row  people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">I loved the guidance they give after cracking GRE for picking and
                            applying for universities since the process could be overwhelming.</p>
                    </div>
                    <div class="author">
                        <h5 class="name">Jathin Dhulipalia, MSc in MIS</h5>
                        <p class="title" style="color: #ff8e5e;font-size: 17px">Texas A&M, College Station,USA.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-md-5 pb-md-5 item">
                    <div class="box">
                        <p class="description">Dr.Raju's helped me in writing Statement of purpose, letters of
                            recommendation and resume ,as a result I could get selected in one of the top MBA
                            programs
                            in Canada. Also, the Visa consultant was very student friendly and took a lot of care in
                            applying my student Visa. I received my Visa within 20 days. </p>
                    </div>
                    <div class="author">
                        <h5 class="name">Adapa Sai Chaitanya, MBA</h5>
                        <p class="title" style="color: #ff8e5e;font-size: 17px">University of Calgary, Canada.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">The support and the quality of consultation I received from Dr.Raju’s
                            educational academy was amazing . They treat each student with such importance and
                            patience.
                            They helped me get into the course I’m passionate about. </p>
                    </div>
                    <div class="author">
                        <h5 class="name">Sameera Jaini, Ms in Fashion Design </h5>
                        <p class="title" style="color: #ff8e5e;font-size: 17px">Savannah college of Arts, New York.
                            .</p>
                    </div>
                </div>
            </div>
            <div class="row gy-md-5 people mt-md-5 pt-md-5 pb-lg-5 mb-lg-5">
                <div class="col-md-6  col-lg-4 mb-md-5 pb-md-5 item">

                    <div class="box ">
                        <p class="description">Dr Raju's is unlike other consultancies that give a standard sop and
                            tell
                            you to follow the format. They handhold you and make you craft your own sop's. The best
                            thing is that they respond pretty quickly and they are damn good at the job they do</p>
                    </div>
                    <div class="author ">
                        <h5 class="name">Ajay , Master’s in Management</h5>
                        <p class="title" style="color: #ff8e5e;font-size: 17px">Grenoble Ecole de Management,
                            France.</p>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">They really helped me starting from preparing for GRE to getting my
                            Visa
                            approved. They also have doubt clarifying session which was really a great help. Staff
                            are
                            really friendly and have great patience.</p>
                    </div>
                    <div class="author">
                        <h5 class="name">Hari Raviteja, Ms in Pharmaceutics</h5>
                        <p class="title" style="color: #ff8e5e;font-size: 17px"> University of Buffalo, New York</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4  item">
                    <div class="box">
                        <p class="description">I had a very low gre score and was really scared and was in a
                            perception
                            that I would not be getting an admit from a good University. Dr. Raju's has really
                            helped me
                            a lot by carefully evaluating my profile and helped in applying for universities and
                            writing
                            effective sop</p>
                    </div>
                    <div class="author">
                        <h5 class="name">Keerthi Ayyagari, Ms in Computer Science</h5>
                        <p class="title" style="color: #ff8e5e;font-size: 17px">Northern Illinois University </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h3 style="text-align: center;color: #5b80b2">Consultants</h3>
    <div class="container mt-5 pt-3">
        <div class="row row-cols-1 row-cols-lg-5 g-2 g-lg-3">
            <div class="col-lg-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="card-img-top mx-auto d-block"
                             src="{% static 'faculty/Prasad Raju.jpg' %}"
                             alt="Card image cap">
                    </div>
                    <div class="table">
                        <h4 class="card-caption">Dr. Prasad Raju</h4>
                        <h6 class="category text-muted">Career guidance & University suggestions </h6>
                        <p class="card-description">University of Connecticut, USA Class of 2004</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="card-img-top mx-auto d-block"
                             src="{% static 'faculty/Jayasurya.jpg' %}"
                             alt="Card image cap">
                    </div>
                    <div class="table">
                        <h4 class="card-caption">Jayasurya</h4>
                        <h6 class="category text-muted">Career guidance and SOP review</h6>
                        <p class="card-description">Brown University, USA, Class of 2017 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#"> <img class="img"
                                          src="{% static 'faculty/Ganapathi Raju.jpg' %}">
                        </a>
                    </div>
                    <div class="table">
                        <h4 class="card-caption">Ganapathi Raju </h4>
                        <h6 class="category text-muted">Senior Visa Consultant.</h6>
                        <p class="card-description"> 20+ Years experience in all types of USA
                            Visas. </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#"> <img class="img"
                                          src="{% static 'faculty/Neelima.jpeg' %}">
                        </a>
                    </div>
                    <div class="table">
                        <h4 class="card-caption">Neelima</h4>
                        <h6 class="category text-muted">University Consultant</h6>
                        <p class="card-description"> Applications guide for USA and Canadian universities </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#"> <img class="img"
                                          src="{% static 'faculty/Laxmi.JPG' %}">
                        </a>
                    </div>
                    <div class="table">
                        <h4 class="card-caption">LAXMI DANDU </h4>
                        <h6 class="category text-muted">University Consultant</h6>
                        <p class="card-description"> Applications guide for universities in UK,Canada and USA </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#">
                            <img class="img"
                                 src="{% static 'faculty/Alekhya.JPG' %}">
                        </a>
                    </div>
                    <div class="table">
                        <h4 class="card-caption">Alekhya</h4>
                        <h6 class="category text-muted">University Consultant</h6>
                        <p class="card-description"> Applications guide for Australian Universities </p>

                    </div>
                </div>
            </div>


        </div>
    </div>







{% endblock %}
