{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    {% endblock %}


    <!--bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous"/>

    <style>
        .navbar {
            background: transparent !important;
        }

        .navbar .nav-item .nav-link {
            color: #304460;
        }

        .navbar .nav-item .nav-link .active {
            color: #1c2839 !important;
        }

        .circle-icon {
            background: #afc3df;
            padding: 20px;
            border-radius: 50%;

        }

        /*#D4DCE6*/
    </style>


    <!--FDFCFB-->


    {% block style %}

    {% endblock %}

</head>
<body>
{% block nav %}
{% endblock %}


{% block content %}
{% endblock %}


<!-- Footer -->
<div class="container-fluid">

    <footer class="page-footer font-small blue-grey lighten-5">

        <div style="background-color: #F1F3E9;">
            <div class="container">
                <ul class="nav justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link " href="https://www.facebook.com/DrrajusMsinUS/"
                           style="color: #3b5998 !important;"><i
                                class="fab fa-facebook-square"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/drrajus_institute/"
                           style="color: #fb3958!important;"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/dr-raju-s-gre-a801866a/"
                           style="color: #0e76a8 !important;"><i
                                class="fab fa-linkedin"></i></a>
                    </li>


                </ul>

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Address</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p style="color: #4D7356!important;">

                        Flat No :403,Hotel Swagath Building
                        Alluri Trade center , opp.KPHB Main Road,Kukatpally
                        Hyderabad-500072

                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Courses</h6>
                    <hr class=" mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#" style="color: #4D7356!important;text-decoration:none">GRE</a>

                    <p>
                        <a href="#" style="color: #4D7356!important;text-decoration:none">TOFEL</a>
                    </p>
                    <p>
                        <a href="#" style="color: #4D7356!important;text-decoration:none">ILETS</a>
                    </p>
                    <p>
                        <a href="#" style="color: #4D7356!important;text-decoration:none">PERT</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="#!"
                           style="color: #4D7356!important;text-decoration:none">Careers</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!"
                           style="color: #4D7356!important;text-decoration:none">Blog</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!"
                           style="color: #4D7356!important;text-decoration:none">FAQ</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!"
                           style="color: #4D7356!important;text-decoration:none">Test</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                    <p>
                        <i class="fas fa-envelope mr-3"></i>hello@drrajus.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +91 9908222209</p>
                    <p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="container">

            <div>
                <div class="footer-copyright  text-black-50 py-3" >© 2020 Copyright:
                    <a class="dark-grey-text" href="#" style="color: #003366"> A -> D </a>
                    <p class="text muted" style="float: right"><a href="{% url 'privacy' %}">Privacy Policy</a> | <a href="{% url 'terms' %}">Terms and conditions</a></p>
                </div>
            </div>


        </div>

        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
<!--bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>


</body>
</html>

