{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Contact </title>
{% endblock %}
{% block style %}
    <style>
        .map-responsive {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
        }

        .map-responsive iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    </style>
{% endblock %}
{% block nav %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #FFFFFF!important;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'logo/resized.png' %}" alt="logo" width="150px" style="max-width: 220px;">
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="{% url 'courses' %}"
                           style="border-bottom: none">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'consultancy' %}">Consultancy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'About Us' %}">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block content %}

    <div class="container"style="margin-top: 40px;margin-bottom: 40px">
        <div class="row">
            <div class="col-sm-6">


                <h3 style="text-align: center">Map Direction</h3>

                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.2978067284416!2d78.4015758150383!3d17.493291704346152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91eb2cc60ccf%3A0xc1abaf2ddbcf2df!2sDr.%20Raju&#39;s%20Educational%20Academy!5e0!3m2!1sen!2sin!4v1599722627898!5m2!1sen!2sin"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false"
                            tabindex="0"></iframe>

                </div>

            </div>
            <div class="col-sm-6">
                <h3 style="text-align: center">Contact Form</h3>

                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                               placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}