{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Forum </title>
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static "Dr.Raju's.png" %}" alt="logo" width="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " aria-current="page" href="{% url 'courses' %}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'consultancy' %}">Consultancy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'forum' %}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'About Us' %}">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login/Register</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block content %}

    <div class="container-fluid" style="padding-top: 100px;margin-bottom: 20px">
        <div style="background-color: #f7f7f7">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7" style="margin-top: 20px;">
                        <img src="{% static 'vectors/Screenshot 2020-11-06 at 5.52.22 PM.png' %}" class="img-fluid"
                             alt="Responsive image" style="height: 500px;width: auto" >
                    </div>
                    <div class="col-sm-5" style="margin-top: 50px" >
                        <div class="container" >
                            <div class=" text-muted">
                                <p class="font-weight-bold">Get guidance in-</p>
                                <p>University Short Listing</p>
                                <p>Applications Filling</p>
                                <p>Personal Essays and Recommendation letters </p>
                                <p>Finding good Education Loan deals </p>
                                <p>Visa filing and Documentation </p>
                            </div>
                            <div>
                                <a href="{% url 'courses' %}" class="btn btn-md " tabindex="-1" role="button"
                                   aria-disabled="true"
                                   style="background: #6088c0!important;color: #ffffff!important;">
                                    Know more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}