{% load socialaccount %}


{% load crispy_forms_tags %}

{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Login</title></head>
<style>
    .navbar {
        background: transparent !important;
    }
   

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
    }

    .separator::before {
        margin-right: .25em;
    }

    .separator::after {
        margin-left: .25em;
    }

</style>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static "logo/resized.png" %}" alt="logo" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--<div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'courses' %}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'consultancy' %}">Consultancy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'About Us' %}">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">

                            Login/Register
                        </a>
                    </li>


                </ul>
            </div>-->
    </div>
</nav>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="{% static 'vectors/login.svg' %}" alt=""
                 class="img-fluid mb-3 d-none d-md-block">
            <h1>Login to get courses</h1>
            <p class="font-italic text-muted mb-0">enter details to login </p>

        </div>


        <!-- login Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <div class="justify-content-center">
                <a href="{% provider_login_url 'google' %}" class="btn btn-outline-primary" role="button"> <img
                        src="{% static 'logo/icons8-google-480.png' %}" class="img-icon"
                        style="width: 25px;height: 25px;">
                    Login with google</a>
            </div>


            <div class="separator-container">
                <div class="separator" style="color: grey">or</div>
            </div>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="row mb-4">
                    <label class="col-sm-4 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="username" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #6088C0">Submit</button>
            </form>


            <div class="text-center w-100">

                <p class="text-muted font-weight-bold">Forgot password? <a href="{% url 'reset_password' %}"
                                                                           class=" text-primary ml-2">click here</a>
                </p>
                <p class="text-muted font-weight-bold">Need to Register? <a href="{% url 'register' %}"
                                                                            class=" text-primary ml-2">Click
                    here</a></p>
            </div>
            </form>

        </div>
    </div>
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper.js and Bootstrap JS
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
-->
</body>
</html>