<div class="container d-flex justify-content-end " style="float: right;padding-right: 30px">
    <div class="col  " style="position: fixed; z-index: 1100;">
        <div class="row ">
            <div class="card shadow-sm">
                <span style="font-size: 35px;color: blue">
                     <a href="https://www.facebook.com/DrrajusMsinUS/">
                <i class="fab fa-facebook-f">

                </i></a>
                </span>
            </div>
        </div>
        <div class="row pt-2">
            <div class="card shadow-sm">
                <span style="font-size: 35px;color: orange!important;">
                     <a href="https://www.instagram.com/drrajus_institute/" style="color: orange!important;">
                        <i class="fab fa-instagram"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row pt-2">
            <div class="card shadow-sm"><span style="font-size: 35px;color: #5b80b2">                                        <a
                    href="https://www.linkedin.com/in/dr-raju-s-gre-a801866a/" style="color: #5b80b2">
                <i class="fab fa-linkedin-in"></i></a></span>
            </div>
        </div>
        <div class="row pt-2">
            <div class="card shadow-sm"><span style="font-size: 35px;color:  #4fce5d">
                <a href="https://wa.me/918125322444" style="color:#4fce5d ">
                    <i class="fab fa-whatsapp"></i></a></span></div>
        </div>

    </div>
</div>
